.navigation {
    .flex(flex-start, center, column);
    background-color: @nav-bg;
    border-bottom: 1px solid @nav-border;
    padding-bottom: 1rem;

    > h1 {
        margin: 2rem 0;
    }

    > nav {
        > a {
            color: @nav-font;
            text-decoration: none;
            font-size: 1.6rem;
            margin: 0 1.5rem 0;
        }
    }
}
